<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<div class="container-fluid mt-3">

  <div class="row">
    <div class="col-2">
      <h4>Filtruj</h4>
      <h5>Kategorie</h5>
      <h5>Data publikacji</h5>
    </div>
    <div class="col">
      <br>
      {{pageArticles.totalPages}}, {{pageArticles.totalElements}}, {{pageArticles.pageable?.pageNumber}}
      <br>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-end">
          <!-- <li class="page-item active"><a class="page-link" href="#">1</a></li> -->

          <ng-container *ngFor="let j of pageNumbers">
            <li class="page-item active" *ngIf="(j-1) == pageNumber;else not_active"><a class="page-link" href="#">{{j}}</a>
            </li>
            <ng-template #not_active>
              <li class="page-item"><a class="page-link" href="#" (click)="changePage(j)">{{j}}</a></li>
            </ng-template>


          </ng-container>


        </ul>
      </nav>



      <ng-container *ngIf="!pageArticles?.empty">
        <div *ngFor="let articles of pageArticles?.content" class="card mb-2">
          <div class="card-header">
            <span *ngFor="let category of articles.categoryList">{{category.name}} , </span>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{articles.title}}</h5>
            <p class="card-text">{{articles.description}}</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
          <div class="card-footer text-muted text-end">
            Opublikowano : {{articles.publicationDate}}
          </div>
        </div>
      </ng-container>


    </div>
  </div>


</div>
